@media (max-width: 700px) {
    .fotoprincipal {
        display: block;
        width: 100%;
        background-image: url("luizfoto.jpg");
        background-position: center;
        background-size: 400px;
        height: 400px;
        background-repeat: no-repeat;
    }
    .titulo-sobre-luiz {
        margin-top: 20px;
        display: block;
        width: 100%;
        float: right;
    }
    .sobre-luiz {
        display: block;
        height: auto;
        width: 95%;
        background-image: none;
        background-position: left;
        background-repeat: no-repeat;
        background-size: 500px;
        margin-right: 20PX;
    }
    .sobre {
        padding: 15px;
        display: grid;
        grid-template-columns: 100%;
        height: auto;
        max-width: 1400px;
        margin-right: auto;
        margin-left: auto;
    }
    .texto-sobre {
        display: block;
        height: 70%;
        max-width: 100%;
        float: right;
    }
}

@media (min-width: 700px) {
    .fotoprincipal {
        display: none;
    }
    .titulo-sobre-luiz {
        margin-top: 100px;
        display: block;
        width: 100%;
        float: right;
    }
    .sobre-luiz {
        display: inline-block;
        height: auto;
        width: 95%;
        background-image: url("luizfoto.jpg");
        background-position: left;
        background-repeat: no-repeat;
        background-size: 400px;
        margin-right: 20PX;
    }
    .sobre {
        display: grid;
        grid-template-columns: 90%;
        grid-template-rows: auto auto auto;
        height: auto;
        max-width: 1300px;
        margin-right: auto;
        margin-left: auto;
        background-color: rgb(255, 255, 255);
        overflow: hidden;
    }
    .texto-sobre {
        display: block;
        max-width: 50%;
        float: right;
    }
}

@media (min-width: 1300px) {
    .fotoprincipal {
        display: none;
    }
    .titulo-sobre-luiz {
        margin-top: 100px;
        display: block;
        width: 100%;
        float: right;
    }
    .sobre-luiz {
        display: inline-block;
        height: auto;
        width: 95%;
        background-image: url("luizfoto.jpg");
        background-position: left;
        background-repeat: no-repeat;
        background-size: 500px;
        margin-right: 20PX;
    }
    .sobre {
        display: grid;
        grid-template-columns: 60% 40%;
        height: 600px;
        max-width: 1400px;
        margin-right: auto;
        margin-left: auto;
    }
    .texto-sobre {
        display: block;
        height: 70%;
        max-width: 50%;
        float: right;
    }
}

.container-sobre-instagram {
    display: block;
    height: auto;
    width: 100%;
    background-color: rgb(255, 255, 255);
}

.titulo-sobre-instagram {
    margin-top: 45px;
    width: 100%;
}

.sobre-instagram {
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 32% 32% 32%;
    max-height: 450px;
    max-width: 450px;
}

.foto-instagram {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 95%;
    height: 95%;
    overflow: hidden;
    cursor: pointer;
}

.foto-instagram img {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.foto-instagram img:hover {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-filter: brightness(80%);
}

.texto-sobre-p {
    display: block;
    width: 100%;
    height: auto;
    font-size: 14px;
    font-family: "Roboto", "sans-serif", "Helvetica", "Calibri", "Trebuchet MS", "Arial", "Verdana";
    color: rgb(105, 105, 105);
    margin-block-end: 1em;
    line-height: 1.5;
}

.drluiztitulo {
    font-size: 20px;
    font-family: "Roboto", "sans-serif", "Helvetica", "Calibri", "Trebuchet MS", "Arial", "Verdana";
    color: rgb(77, 77, 77);
}

.crm {
    margin-top: 10px;
    font-size: 15PX;
    font-family: "Roboto", "sans-serif", "Helvetica", "Calibri", "Trebuchet MS", "Arial", "Verdana";
    color: rgb(77, 77, 77);
}

.rqe {
    margin-top: 10px;
    font-size: 15PX;
    font-family: "Roboto", "sans-serif", "Helvetica", "Calibri", "Trebuchet MS", "Arial", "Verdana";
    color: rgb(77, 77, 77);
    margin-block-end: 2em;
}

.titulo-sobre-instagram img {
    width: 300px;
    margin-left: 10%;
}


/*phone*/

@media (max-width: 700px) {
    .titulo-sobre-instagram img {
        width: 300px;
        margin-left: auto;
        margin-right: auto;
    }
}


/*mais sobre*/

.mais_sobre {
    width: 100%;
    height: auto;
}


/*phone*/

@media (max-width: 700px) {
    .mais_sobre {
        display: none;
    }
}


/*phone*/

@media (min-width: 700px) {
    .mais_sobreBefore {
        display: none;
    }
}

.containertext_mais {
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 800px;
}

.congressos {
    margin-left: auto;
    margin-right: auto;
    width: 900px;
    height: auto;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto;
}

@media (max-width: 700px) {
    .congressos {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto;
    }
}

.congressos img {
    width: 95%;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.congressos-titulo {
    font-size: 27px;
    font-family: Roboto, HelveticaNeue, Arial, sans-serif;
    text-align: center;
    color: #D2AE6D;
}

.accordion {
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.active,
.accordion:hover {
    background-color: rgb(255, 255, 255);
    padding: 23px;
}

.accordion:after {
    display: block;
    content: "";
    background-image: url("mostrar-mais.svg");
    background-repeat: no-repeat;
    background-size: 50px auto;
    background-position: center;
    background-color: rgb(255, 255, 255);
    height: 50px;
    text-align: center;
}

.active:after {
    display: block;
    content: "";
    background-image: url("mostrar-menos.svg");
    background-repeat: no-repeat;
    background-size: 50px auto;
    background-position: center;
    background-color: rgb(255, 255, 255);
    height: 50px;
    text-align: center;
}

.panel {
    padding: 0 18px;
    background-color: rgb(244, 244, 244);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}